{
    behaviors {
      // Generic hold-tap: we supply tap+hold at call-site
      hm_lctl: hm_lctl {
        compatible = "zmk,behavior-hold-tap";
        label = "HRM_LCTL";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <100>;
        flavor = "hold-preferred";
        bindings = <&kp &kp>;
      };

      hm_lalt: hm_lalt {
        compatible = "zmk,behavior-hold-tap";
        label = "HRM_LALT";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <100>;
        flavor = "hold-preferred";
        bindings = <&kp &kp>;
      };

      hm_lgui: hm_lgui {
        compatible = "zmk,behavior-hold-tap";
        label = "HRM_LGUI";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <100>;
        flavor = "hold-preferred";
        bindings = <&kp &kp>;
      };

      hm_lsft: hm_lsft {
        compatible = "zmk,behavior-hold-tap";
        label = "HRM_LSFT";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <100>;
        flavor = "hold-preferred";
        bindings = <&kp &kp>;
      };

      hm_rctl: hm_rctl {
        compatible = "zmk,behavior-hold-tap";
        label = "HRM_RCTL";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <100>;
        flavor = "hold-preferred";
        bindings = <&kp &kp>;
      };

      hm_ralt: hm_ralt {
        compatible = "zmk,behavior-hold-tap";
        label = "HRM_RALT";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <100>;
        flavor = "hold-preferred";
        bindings = <&kp &kp>;
      };

      hm_rgui: hm_rgui {
        compatible = "zmk,behavior-hold-tap";
        label = "HRM_RGUI";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <100>;
        flavor = "hold-preferred";
        bindings = <&kp &kp>;
      };

      hm_rsft: hm_rsft {
        compatible = "zmk,behavior-hold-tap";
        label = "HRM_RSFT";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick-tap-ms = <100>;
        flavor = "hold-preferred";
        bindings = <&kp &kp>;
      };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                | GUI | LWR | SPC |   | ENT | RSE  | ALT |
            bindings = <
   &kp TAB   &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y  &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp ESC   &hm_lgui A LGUI  &hm_lalt S LALT  &hm_lctl D LCTRL  &hm_lsft F LSHFT  &kp G &kp H            &hm_rsft J RSHFT &hm_rctl K RCTRL  &hm_ralt L RALT   &hm_rgui SEMI RGUI  &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B             &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                    &kp DEL   &kp ESC  &kp SPACE        &kp RET  &mo 2 &mo 1
            >;
        };

        lower_layer {
            display-name = "Lower Layer";
            // (unchanged)
            bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
   &kp CAPS &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
                                 &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
            >;
        };

        raise_layer {
            display-name = "Raise Layer";
            // (unchanged)
            bindings = <
   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                          &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
            >;
        };
    };
};

